main/keys/key.json
main/keys/credentials.txt
tests/keys/credentials.txt
tests/keys/key.json
.vscode/settings.json
main/keys/propie_connect_raspi4/license.3B927A4531.txt
main/keys/propie_connect_raspi5/license.1D2FF0E367.txt
